@import '../Vars.scss';
.login{
    background: #330136;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 200px);
    width: 100%;
    padding: 30px 0px;
}

.login__container{
    background-color: rgba(255,255, 255, 0.1);
    border: 2px solid white;
    color: white;
    border-radius: 40px;
    padding: 50px 50px;
    min-height: 600px;
    width: 330px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: -6px 10px 8px -1px rgba(0,0,0,0.5);
}

.login__container--form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login__container--form label{
   font-size: 14px;
}

.login__container--remember{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.login__container--remember a:hover{
    text-decoration: underline;
}

.login__container--media > div{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--media div img{
    height: 40px;
    width: 40px;
    margin-right: 5px;
   
}

.login__container--register{
    
    font-size: 14px;
  
}
.login__container--register-2{
    margin-left: 10px;
    
  
}

.login__container--register a{
    text-decoration: none;
    color: white;
   
    font-size: 16px;
    font-weight: bold;    
}

.login__container--register a:hover{
    text-decoration: underline
}

.input1{
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid white;
    outline: none;
    height: 50px;
    margin-bottom: 20px;
    padding: 0px 20px;
    font-family: $theme-font;
    color: white
}

.input1::placeholder{
    color: white;
    font-size: 16px;

}

.button{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 10px;
}

